<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Libraries<h2>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>E-mail</td>
            </tr>
        </thead>

        <tbody>
        <% data.forEach(function(library) { %>
            <tr>
                <td><%= library.name %></td>
                <td><%= library.email %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</body>
</html>